*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}

body {
    height: 100vh;
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(40,29,253,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}